*.h
!tests/functional/**/*.h
!tests/functional/*.h
!resources/*.h
*.deps
*.a
*.o
*.dylib
*.lib
*.dll
*.exe
*.so
main
tmp
.rvmrc
foo.d
*.zip
*.swp
.dub
clangs
*.gch
bin/*
.DS_Store
resources/VERSION
linker_flags.txt
